#button-bar {
	width: 100vw;
	height: 10vh;
	position: fixed;
	bottom: 0px;
	background: rgba(0, 0, 0, 0.8);
	display: flex;
}

#scan-button {
	width: 8vh;
	height: 8vh;
	background: white;
	border-radius: 50%;
	display: flex;
	margin: auto;
	transition: opacity 0.1s;
}

#scan-button:active {
	opacity: 0.8;
}

#inner-scan-button {
	width: 70%;
	height: 70%;
	border-radius: 50%;
	margin: auto;
	background-color: rgb(220, 220, 220);
}
video {
	background-color: black;
}

body {
	overflow: hidden;
	margin: 0;
}

@media (orientation: landscape) {
  video {
    width: 100vw;
  }
}

@media (orientation: portrait) {
  video {
    height: 100vh;
  }
}