#button-bar {
	width: 100vw;
	height: 10vh;
	position: fixed;
	bottom: 0px;
	background: rgba(0, 0, 0, 0.9);
	display: flex;
}

#scan-button {
	width: 8vh;
	height: 8vh;
	background: white;
	border-radius: 50%;
	display: flex;
	margin: auto;
	transition: opacity 0.2s;
}

#scan-button:active {
	opacity: 0.8;
}

#inner-scan-button {
	width: 70%;
	height: 70%;
	border-radius: 50%;
	margin: auto;
	background-color: rgb(220, 220, 220);
}

body {
	margin: 0;
	background: url('https://s1.qwant.com/thumbr/0x380/b/8/262f45681befe036e646a1d273112a2e9a17b96ae7b747af2cc18b19b85bae/pedestrian-architecture-road-street-town-building-alley-city-cityscape-downtown-evening-city-street-lane-infrastructure-neighbourhood-road-surface-urban-area-residential-area-human-settlement-nonbuilding-structure-665356.jpg?u=https%3A%2F%2Fget.pxhere.com%2Fphoto%2Fpedestrian-architecture-road-street-town-building-alley-city-cityscape-downtown-evening-city-street-lane-infrastructure-neighbourhood-road-surface-urban-area-residential-area-human-settlement-nonbuilding-structure-665356.jpg&q=0&b=1&p=0&a=1');
	background-size: cover;
}